<div class="container">
<div class="row">
  <div class="col-lg-3 col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <%= link_to "Modifier mon profil", edit_user_registration_path, class: "side-link active" %>
      </li>
    </ul>
    <br>
    <%= link_to 'Voir mon profil', user_path(current_user.id), class: "btn btn-default wide1"  %>
  </div>
  <div class="col-lg-7  col-md-7  text-center">
<h2>Modifiez votre profil</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "shared/devise_errors" %>

      <div class="form-gtoup">
        <%= f.label :full_name %><br />
        <%= f.text_field :full_name, autofocus: true, class: "form-control", placeholder: "Nom complet (prénom + nom)" %>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-8 col-md-4">
          <div class="form-group">
            <span class="btn btn-default btn-file">
              Upload ma photo
            <%= f.file_field :avatar %>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description %><br />
        <%= f.text_area :description, autofocus: true, class: "form-control", placeholder: "Quelques mots sur vous" %>
      </div>
        <br />
      <div class="form-gtoup">
        <%= f.label :email %><br />
        <%= f.email_field :email, rows:5, col:25 , autofocus: true, class: "form-control", placeholder: "Adresse email" %>
      </div>
        <br />
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Nouveau mot de passe (si vous souhaitez change de mot de passe)" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control", placeholder: "Confirmaton du mot de passe" %>
      </div>

      <div class="form-group">
      <br />
      <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "off",class: "form-control", placeholder: "Mot de passe actuel (pour confirmer tout changement)" %>
      </div><br />

      <div class="actions">
        <%= f.submit "Enregistrer", class:"btn btn-primary" %>
      </div>
    <% end %>

      <% unless current_user.confirmed_at%>
        <br/><br/>
        <% form_for(resource, as: resource_name, url: confirmation_path(resource_name), html:
        {method: :post}) do |f| %>
        <%= f.hidden_field :email, value: current_user.email %>
        <div class="actions">
          <%= f.submit "Envoyez un email de confirmation", class:"btn btn-primary" %>
            </div>
        })
        <% end %>
      <% end %>
</div>
</div>
</div>
