<div class="container">
  <div class="row">
      <div class="col-md-3">
         <%= image_tag(@user.avatar, class: "avatar-full") %>
          <div class="panel panel-default">
          <div class="panel-heading">Qui suis-je</div>
            <div class="panel-body">
              <!--<h4><%= @user.full_name.capitalize %></h4>-->
              <% if @user.confirmed_at %>
                Email  confirmé
              <% else %>
                Email non confirmé
              <% end %>
              <br>
            </div>
          </div>
      </div>
      <div class="col-md-9">

            <hr>
            <div class="description row-space-3">
                  <%= @user.description %>
            </div>
            <hr>
            <h4>Livres (<%= @books.length %>)</h4><br>
            <div class="row">
              <% @books.each do |book| %>
              <div class="col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading preview">
                      <%= image_tag(book.image, class:"card-img-top")if book.image %>
                    </div>
                    <div class="panel-body">
                           <%= link_to book.title.capitalize,book %>
                    </div>
                </div>
              </div>
              <% end %>
            </div>
            <h4>Evaluations</h4><br>
            <% @books.each do |book| %>
              <% if !book.reviews.blank? %>
                <% book.reviews.each do |review| %>
                <div class="row">
                    <div class="col-md-2 col-lg-2 text-center">
                     <%= image_tag(review.user.avatar, class:"img-circle avatar-medium") %><br>
                     <%= review.user.full_name %>
                    </div>
                    <div class="col-md-10 col-lg-10 ">
                     <%= link_to book.title, book %><br>
                     <%= review.comment %><br>
                     <%= review.created_at.strftime("%d/%m/%y")%>
                    </div>
                </div>
                  <% end %>
              <% end %>
            <% end %>
       </div>
   </div>
</div>
