<div class="container">
         <ul class="nav navbar-nav navbar" id="navabar-book">
             <li><%= link_to "Tous les livres", root_path %></li>
          <% Genre.all.each do |genre| %>
          <li><%= link_to genre.name, all_path( genre: genre.name) %></li>
          <% end%>
      </ul>

<div class="row">
  <% @books.each do |book| %>
  <div class="col-lg-3  col-md-3 " id="row_book">
    <div class="text-center">
    <%= link_to (image_tag(book.image, class:"card-img-top")), book %>
    </div>
      <h5 class="book_title"><%= book.title.capitalize %></h5>
      <h5 class="author">Par <%= book.author %></h5>
      <h5 class="full_name"> Ajouté par <%= book.user.full_name %></h5>
    </div>
    <% end %>
</div>
</div>
