<header class="masthead">
     <div class="intro-body">
       <div class="container-fluid">

         <div class="row">
           <div class="container">
             <ul class="nav navbar-nav navbar" id="navabar-book">
               <li><%= link_to "Tous les livres", root_path %></li>
                <% Genre.all.each do |genre| %>
                 <li><%= link_to genre.name, all_path( genre: genre.name) %></li>
                <% end%>
             </ul>
           </div>
         </div>

       </div>
     </div>
</header>

<div class="container">
  <!--<ul class="nav navbar-nav navbar" id="navabar-book">
    <li><%= link_to "Tous les livres", root_path %></li>
     <% Genre.all.each do |genre| %>
      <li><%= link_to genre.name, all_path( genre: genre.name) %></li>
     <% end%>
  </ul>-->

  <div class="row" id="content_image_home">
    <div class="text-center">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <img class="rounded-circle" src="/iconmonstr-share.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Partagez</h2>
      <p class="text_img">Faîtes découvrir les livres de votre bibliothèque à vos camarades </p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <img class="carre" src="/iconmonstr-check.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Empruntez</h2>
      <p class="text_img">Choisissez une date d'emprunt  <br>et donnez vous rendez-vous au collège </p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <img class="rounded-circle" src="/iconmonstr-book.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Lisez</h2>
      <p class="text_img">Bonne lecture ! Une fois terminée, <br> laissez une note et un commentaire. </p>

    </div><!-- /.col-lg-4 -->
  </div>
  </div><!-- /.row -->



<div class="row">
  <% @books.each do |book| %>
      <div class="col-lg-3  col-md-3 "  id="row_book">
        <div class="text-center">
        <%= link_to (image_tag(book.image, class:"card-img-top")), book %>
        </div>
          <h5 class="book_title"><%= book.title %></h5>
          <h5 class="author">Par <%= book.author %></h5>
          <h5 class="full_name"> Ajouté par <%= book.user.full_name %></h5>
        </div>
    <% end %>
 </div>
</div>
