<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
      <div class="text-center">
        <h3>Modifier votre livre</h3>
      </div>
        <%= form_for @book  do |f| %>
        <div class="form-group">
            <label>Titre du livre</label>
          <%= f.text_field :title, class: "form-control", placeholder: "Titre de votre livre" %>
        </div>

        <div class="form-group">
            <label>Genre littéraire</label>
          <%=  f.collection_select :genre_id, Genre.all, :id, :name,{promt: "Selectionnez une catégorie"}, class: "form-control", placeholder: "Titre de votre livre" %>
        </div>

        <div class="form-group">
          <label>auteur du livre</label>
          <%= f.text_field :author,  class: "form-control", placeholder: "Nom de l'auteur" %>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-4">
            <div class="form-group">
              <span class="btn btn-default btn-file">
                Upload ma photo
              <%= f.file_field :image %>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
            <label>Ajouter un résumé au livre</label>
          <%= f.text_area :summery,  class: "form-control", placeholder: "Résumé de votre livre" %>
        </div>
        <div class="form-group">
          <label>Avis sur le livre</label>
          <%= f.text_field :bonus, class: "form-control", placeholder: "Il est excellent car..." %>
        </div>

        <div class="form-group">
          <%= f.check_box :active %> Livre visible
        </div>

        <div class="actions">
          <%= f.submit "J'enregistre mon livre", class:"btn btn-primary" %>
        </div>

        <% end %>
    </div>
  </div>
</div>
