<div class="container">
  <div class="row">
  <div class="col-lg-3  col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%=  link_to "Mes livres", books_path ,class: "sidebar-link active" %> (<%= @books.length %>)</li>
    </ul>
  </div>
</div>
  <% if @books.blank? %>
    <h3 class="no_city">Désolé il n'y pas de livre "</br> </h3>
    <% else %>
    <div class="row">
      <% @books.each do |book| %>
       <div class="col-lg-3  col-md-3 " id="row_book">
        <div class="text-center">
        <%= link_to (image_tag(book.image, class:"card-img-top")), book %>
          <h5 class="book_title"><%= book.title.capitalize %></h5>
          <h5 class="author">Par <%= book.author %></h5>
          <%= link_to "Mettre à jour ", edit_book_path(book), class:"btn btn-primary"%></br>
          <%= link_to "Supprimer votre livre", book, :confirm => "Etes vous sur ?", :method => :delete ,class:"btn btn-primary hh"%>
        </div></div>
        <% end %>
    </div>
    <% end %>

</div>
