<div class="container" id="show">
  <div class="row">
    <div class="col-lg-2 col-md-2">
        <%= image_tag(@book.image, class: "avatar-full") %>
    </div>
    <div class="col-lg-6 col-md-6">
        <h2 class="title_show"><%= @book.title.capitalize %></h2>
        <h4 class="summery_show" ><%= @book.summery %></h4>
      <!--<h2><%= @book.user.full_name %></h2>
      <h2 ><%= @book.bonus %></h2>-->

    </div>

    <div class="col-lg-4 col-md-4">
      <%= render 'reservations/form' %>
    </div>

    </div>

    <div class="row">
      <div class="col-lg-8 col-md-8">

        <h3> <%= pluralize( @reviews.count, "Commentaire") %><br> Note: <%= @book.average_rating %> (<%= @reviews.count %>) </h3>
        <div class="container">
          <div>
          <%= render "reviews/form" if @booked && !@hasReview %>
          </div>
          <div>
            <%= render "reviews/list" %>
          </div>
        </div>
      </div>
    </div>
 </div>

    <!--comment-->


    <!--<h1><%= link_to "Edit", edit_book_path(@book) %></h1>
    <h1><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "Are you sure"} %></h1>
    <h1><%= link_to "Home", root_path %></h1>-->

</div>
