<div class="container">
  <div class="row">
    <div class="col-md-3">
        <ul class="sidebar-list">
          <li class="sidebar-item"><%=  link_to "Mes livres", books_path ,class: "sidebar-link active" %></li>
          <li class="sidebar-item"><%=  link_to "Mes réservations", mes_reservations_path ,class: "sidebar-link active" %></li>
              <li class="sidebar-item"><%=  link_to "Mes emprunts", mes_emprunts_path ,class: "sidebar-link active" %></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading"> Mes emprunts</div>
            <div class="panel-body">

              <% @emprunts.order("ID DESC").each do |emprunt| %>
                <div class="row">
                   <div class="col-md-2">
                       Du <%= emprunt.start_date.strftime('%d.%m.%y') %> au <%= emprunt.end_date.strftime('%d.%m.%y') %>
                   </div>
                   <div class="col-md-6">
                     <%= link_to book_path(emprunt.book) do %>
                      <%= image_tag(emprunt.book.image, class:"card-img-top") %>
                     <% end %>
                   </div>
                   <div class="col-md-4">
                     <%= link_to user_path(emprunt.book.user) do  %>
                     <%= image_tag(emprunt.user.avatar, class:"img-circle avatar-small") %>
                     <%= emprunt.user.full_name %>
                     <% end %>
                   </div>

                </div>
                <hr>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>
