<%= form_for([@book, @book.reviews.new]) do |f| %>
  <%= f.text_field :star %>
  <%= f.text_field :comment %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
