<% if @reviews.count == 0 %>
  <div class="text-center">
    <h4>Aucun commentaire </h4>
  </div>
<% else %>
  <% @reviews.order("id DESC").each do |r|%>
  <hr>
  <dvi class="row">
    <div class="col-md-1 col-md-offset-2">
       <%= image_tag(r.user.avatar, class:"img-circle avatar-medium") %>

    </div>
    <dic class="col-md-6">
        <div>
          <strong><%= r.user.full_name%> <br>Livre noté <%= r.star %>/ 5</strong>
          <span class="pull-right">
            <%= link_to "Supprimer mon commentaire",[@book, r], method: :delete, data: {confirm: "Etes-vous sur ?"} if current_user && current_user == r.user %>
          </span>
        </div>
        <div><%= r.created_at.strftime("%d.%m.%y") %></div>
        <div><%= r.comment %></div>
    </div>
  </div>
  <% end %>
<% end %>
