<!-- Static navbar -->
     <nav class="navbar navbar-default">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>

           <!--<%= link_to 'Bibliorun', root_path,{:class=> "navbar-brand" } %>-->
           <%= link_to (image_tag("/chap_dec_ok.png", class:"navbar-brand")),root_path %>

         </div>

         <div id="navbar" class="navbar-collapse collapse">
           <div class="col-lg-6 col-sm-3 col-md-4" id="form_search">
             <!--<div class="input-group">
             <input type="text" class="form-control" placeholder="Cherchez un livre..." name="q">
               <div class="input-group-btn">
               <button class="btn btn-danger btn-md" type="button">
                <span class=" glyphicon glyphicon-search"></span>
               </button>
               </div>
             </div>-->

            <%= form_tag(search_path, method: "get", class: "search-discover js-form-search-location search-discover--hero", role: "form") do %>
             <div class="search-discover__inner">
               <%= text_field_tag :search, params[:search], class:"search-discover__input-location js-location", placeholder: "Chercher un livre par son titre" %>
               <button type="submit" class="btn btn-danger btn-lg" data-ga-category="Home" data-ga-action="Search">
                 <i class="fa fa-search visible-xs"></i>
                   <span class=" glyphicon glyphicon-search"></span>
               </button>

             </div>
            <% end %>


           </div>
           <ul class="nav navbar-nav navbar-right">
             <% if (!user_signed_in?) %>
             <li><%= link_to "inscription",  new_user_registration_path %></li>
             <li><%= link_to "Connexion",  new_user_session_path %></li>
             <% else %>
             <li></Li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= image_tag(current_user.avatar, class:"img-circle avatar-small") %> <%= current_user.full_name %> <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><%= link_to 'Mes livres', books_path %></li>
                 <li><%=link_to "Mes emprunts", mes_emprunts_path %></li>
                 <li><%=link_to "Mes réservations", mes_reservations_path %></li>
                 <li><%= link_to 'Voir mon profil', user_path(current_user.id) %></li>
                 <li><%= link_to 'Modifier mon profil', edit_user_registration_path %></li>

                 <li role="separator" class="divider"></li>
                 <li><%= link_to "Déconnexion",  destroy_user_session_path, method: :delete %></li>
               </ul>
               <li> <%= button_to "Ajouter un livre", new_book_path, class: "btn btn-primary navbar-btn", :method => :get  %></li>
             </li>
             <% end %>
           </ul>

         </div><!--/.nav-collapse -->
       </div><!--/.container-fluid -->
     </nav>
